:root {
    color: white;
    font-family: 'Overpass', sans-serif;
}

header {
    padding: 10px;
    margin: 10px 100px 10px 100px;
}

.btn-flat {
    font-style: italic;
}

#city {
    display: inline;
}

#forecast {
    display: flex;
    flex-flow: column;
    padding-right: 900px;
}